/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------------------------------------------------------*/

html{
	scroll-behavior: smooth;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	/* max-width: 1100px; */
	position: relative;
}
.mainblock {
	height: 100vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto  ;
}
.mainblock__image{
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.mainblock__content {
	height: 100%;
}
.container {}
.mainblock__logo {
	position: relative;
	margin: 30px;

}
.mainblock__text {
	margin: 160px 0 200px 0;
	color: #fff;
	position: relative;
	padding-bottom: 45px;
}
.mainblock__text:after{
	content: '';
	width: 105px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	margin: 0 0 0 -52.5px;
	bottom: 0;
}

.mainblock__title {
	font-weight: 900;
	font-size: 34px;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 5.43px;
}
.mainblock__subtitle {
	font-size: 26px;
	font-weight: 400;
	letter-spacing: 4.15px;
}
.mainblock__footer {
	display: inline-flex;
	flex-direction: column;
}
.mainblock__btn, .portfolio__btn, .form__btn {
	position: relative;
	margin-bottom: 5%;
	display: inline-block;
	padding: 0px 42px;
	height: 47px;
	line-height: 45px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.6px;
	transition: .5s;
	/* _______________________________________________________ */
}
.btn_w {
	color: #fff;
	border: 1px solid #fff;

}

.mainblock__btn:hover{
	transform: scale(1.05);
}



.mainblock__arrow {
	margin-top: 20px;
	position: relative;
	transition: .5s;
	
}
.mainblock__arrow:hover{
	transform: scale(1.4);
}
	/* _______________________________________________________ */
.content {
	background-color: #ffffff;
	position: relative;
	z-index: 50;
}
.menu {
	padding: 22px 0px;
}
/* .container {}
.menu__items {} */
.menu__list {
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu__list li{
	margin: 0px 25px;
}
.menu__link {
	color: #3c3c3c;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	transition: 0.5s;
}
.menu__link:hover{
	color: #ada074;
}
.menu__link_act{
	color: #ada074;
}

/* ____________________________________________________________ */

.about { 
	padding: 0px 0px 60px 0px ;
}
.container {}
.about__header-block {
	margin: 0px 0px 65px 0px;
}
.header-block {
	text-align: center;
	position: relative;
}
.header-block__title {
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 8.95px;
	text-transform: uppercase;
	position: relative;
	padding: 0px 0px 30px 0px;
}
.header-block__title:after{
	content: '';
	width: 81px;
	height: 1px;
	background-color: #000;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin: 0px 0px 0px -40.5px;
}
.menu_mb{
	margin-bottom: 130px;
}
.header-block__subtitle {
	padding: 30px 10px 0px 10px;
	color: #868585;
	font-size: 14px;
	font-weight: 300;
	line-height: 25.89px;
	max-width: 700px;
	margin: 0px auto;
}
.about__body {}
.about__row {
	display: inline-flex;
	margin: 0px -15px;

}
.about__column {
	margin: 0px 0px 30px 0px;
	flex: 0 1 33.333%;
	padding: 0px 15px;
}
.about__item {
	text-align: center;
	max-width: 260px;
}
.about__icon {
	border-radius: 50%;
	border: 1px solid #f2f2f2;
	width: 92px;
	height: 92px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 40px 0px;
}
.about__icon_l img{
	position: relative;
	left: 5px;
}
.about__title {
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 3.52px;
}
.about__text {
	color: #868585;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
}
/* ____________________________________________________________ */

/* .portfolio__btn{
	position: relative;
	margin-bottom: 5%;
	display: inline-block;
	padding: 0px 42px;
	height: 47px;
	line-height: 45px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.6px;
	transition: .5s;
} */

.btn_b {
	
	color: #000;
	border: 1px solid #000;

}

.portfolio__btn:hover{
	transform: scale(1.05);
}

.portfolio {
	background-color: #f3f3f3;
	padding: 105px 0px 60px 0px;
}
.container {
}
.portfolio__header-block {
	margin: 0px 0px 50px 0px;
}
.header-block {
}
.header-block__title {
}
.portfolio__filter {
	margin: 0px 0px 135px 0px;
}
.filter {
}
.filter__list {
	display: flex;
	justify-content: center;
	align-items: center;
}
.filter__item {
	font-weight: 700;
	text-transform: uppercase;
	color: #3c3c3c;
	font-size: 15px;
	margin: 0px 25px;
	cursor: pointer;
}
.filter__item:active{
	color: #ada074;
}
.portfolio__items {
	display: flex;
	margin: 0px -15px;
	flex-wrap: wrap;
}
.gallery {
}
.portfolio__column {
	flex: 0 1 50%;
	padding: 0px 15px;
	margin: 0px 0px 30px 0px;
}
.portfolio__item {
}
.portfolio__item img{
	max-width: 100%
}
.portfolio__footer {
	padding: 35px 0px 0px 0px;
	text-align: center;
}
.portfolio__btn {
}
.btn_b {
}
/* ============================================================================= */
.partners {
	background:  url(../img/footer/BG/footer-BG.png) center / cover no-repeat;
	padding: 100px 0px 70px 0px;
}
.container {
}
.partners__title {
	text-align: center;
	font-size: 30px;
	color: #fff;
	font-weight: 300;
	margin: 0px 0px 90px 0px;
}
.partners__items {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.partners__column {
	padding: 0px 50px;
	margin: 0px 0px 30px 0px;
}
.partners__item {
}

/* ============================================================================= */

.contacts {
	padding: 180px 0px 80px 0px;
}
.container {
}
.contacts__header-block {
	margin: 0px 0px 120px 0px;
}
.header-block {
}
.header-block__title {
}
.contacts__body {
	display: flex;
	margin: 0px -15px;
}
.contacts__column {
	flex: 0 1 50%;
	padding: 0px 15px;
}
.contacts__form {
	text-align: right;
}
.form-contacts {
}
.form-contacts__body{
	display: inline-block;
	width: 100%;
	max-width: 385px;
}
.form-contacts__row {
	display: flex;
	padding: 0px -15px 70px -15px;
}
.form-contacts__column {
	flex: 0 1 50%;
	padding: 0px 15px;
}
.form-contacts__input {
}
.form-contacts__label {
	padding: 15px 0px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
	text-align: left;
}
.contacts__content {
	text-align: left;
	max-width: 260px;
}
.contacts__text {
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	margin: 0px 0px 35px 0px;
}
.contacts__name {
	font-size: 14px;
	font-weight: 700;
	margin: 0px 0px 25px 0px;
}
.contacts__social {
}
.message{
	padding: 10px 0px 0px 15px;
}
textarea{
	resize: none;
	width: 96%;
	height: 60px;
	padding: 10px 20px;
}
.input{
	border-bottom: 1px solid #000;
}
.input:focus{
	border-bottom: 1px solid blue;
}
.social {
	margin: 0px 0px 15px 0px ;
	display: flex;
}
.social__item {
	margin: 0px 15px 0px 0px;
}
.contacts__email {	
	font-size: 14px;
}
.contacts__email a{
	font-weight: 700;
	color: #000;
}
.form__btn{
	margin: 40px 0px 0px 0px;
}
.form__btn:hover{
	transform: scale(1.05);
}

.footer {
	background-color: #3c3c3c;
	padding: 45px 0px;
	position: relative;
	z-index: 5;
}
.container {
}
.footer__body {
	text-align: center;
}
.footer__logo {
	display: inline-block;
	margin: 0px 0px 40px 0px;
}
.footer__menu {
	text-align: center;
}
.footer__list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 35px 0px;
}
.footer__list li{
	margin: 0px 15px;
}
.footer__link {
	color: #a4a4a4;
	font-size: 14px;
	font-weight: 400;
	transition: .5s;
}

.footer__link:hover{
	color: rgb(168, 168, 243);
}

.footer__text {
	color: #6c6c6c;
	font-size: 14px;
}
a:active{
	transition: 1s;
}